@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap");
body, html {
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
  margin: 0px;
  background: #302f33;
  color: #333;
  display: flex;
  flex-direction: column;
}

div.filter{
  /* position: absolute; */
  /* top: 3%; */
  /* left: 25%; */
  width: fit-content;
  margin-top: 30px;
}
#filterform {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div.filter select{
  width: 270px;
  display: inline;
  padding: 3px;
  font-family: 'Red Hat Display';
  background: lightsteelblue;
}
div.filter .btn{
  width: 60px;
  margin-left: 5px;
}
div.filter .btn:nth-child(3) {
  border: none;
  background-color: #efef13;
  width: fit-content;
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

button.btn.btn-warning:hover {
    background: white;
    border: #efef13;
    
}

button.btn.btn-warning:hover {
    background: white;
}
.center {
/*   position: absolute; */
/*   top:25% !important; */  
/*   left: 25%; */
    margin-top: 60px;
    width: 50%;
    font-family: 'Red Hat Display', sans-serif;
}

.top3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  color: #4B4168;
}
.top3 .item {
  box-sizing: border-box;
  position: relative;
  background: white;
  width: 9rem;
  height: 12rem;
  text-align: center;
  padding: 2.8rem 0 0;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pos {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.top3 .item .name {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.top3 .item .score {
  opacity: 0.5;
}
.top3 .item .score:after {
  display: block;
  content: 'points';
  opacity: 0.5;
}
.top3 .item.one {
  width: 10rem;
  height: 13rem;
  padding-top: 3.5rem;
}
.top3 .item.one .pic {
  width: 5rem;
  height: 5rem;
  left: 2.5rem;
}
.top3 .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.list {
  width: 85%;
  padding-left: 2rem;
  margin: 0 auto;
}
.list .item {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  height: 3rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
  -webkit-transform-origin: left;
  transform-origin: left;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.list .item .pos {
  font-weight: 900;
  position: absolute;
  left: -2rem;
  text-align: center;
  font-size: 1.25rem;
  width: 1.5rem;
  color: white;
  opacity: 0.6;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.list .item .pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.list .item .name {
  -webkit-box-flex: 2;
          flex-grow: 2;
  flex-basis: 10rem;
  font-size: 1.1rem;
}
.list .item .score {
  margin-right: 1.5rem;
  opacity: 0.5;
}
.list .item .score:after {
  margin-right: 1rem;
  content: 'points';
  opacity: 0.5;
}
.list .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);   
-webkit-box-shadow:  0 0 0.1vw  0.1vw #fff7f7,   
  0 0 5px  5px rgba(0,123,255,.5), 
  0 0 2px 1px rgba(0,123,255,.25),
  inset 0 0 0.1vw  0.1vw #0062cc,
  inset 0 0 0.1vw  0.1vw #e97272,
  inset 0 0 0.1vw  0.1vw #fff7f7;
  box-shadow:  0 0 0.1vw  0.1vw #fff7f7,   
  0 0 5px  5px rgba(0,123,255,.5), 
  0 0 2px 1px rgba(0,123,255,.25),
  inset 0 0 0.1vw  0.1vw #0062cc,
  inset 0 0 0.1vw  0.1vw #e97272,
  inset 0 0 0.1vw  0.1vw #fff7f7;

}
.list .item:hover .pos {
  opacity: 0.8;
}

.others .track{
  position: absolute;
  left: 50%;
}

.python{
  background: #333 !important;
  color:#fff;
}
.ui{
  background: #fe413c !important;
  color:#fff;
}
.mobile{
  background: #a4c639 !important;
  color:#fff;
}
.backend{
  background: #a4d !important;
  color:#fff;
}
.frontend{
  background: #26a8fe !important;
  color:#fff;
}
.design{
  background: #feaf30 !important;
  color:#fff;
}