Redirect /whatsapp https://chat.whatsapp.com/GmoZwE6RUPa4Px4RvreSww
Redirect /task /dashboard/user/view.php
Redirect /day10 /dashboard/day10.php
Redirect /day20 /dashboard/day20.php
Redirect /dashboard/leaderboard.php https://30daysofcode.xyz/dashboard/dist/404.html
Redirect /leaderboard https://30daysofcode.xyz/dashboard/leaderboard.php
Redirect /dashboard/track.php https://30daysofcode.xyz/dashboard/leaderboard.php
ErrorDocument 404 https://30daysofcode.xyz/dashboard/dist/404.html
