* {
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
}
.cnt {
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}
.row {
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
}
.col {
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}
body {
 background-color: #283556;
 background-image: url(/assets/img/code_paper.svg), url(/assets/img/programmer.svg); 
 background-position: left bottom, right bottom;
 background-repeat: no-repeat, no-repeat;
 min-height: 100vh; 
}
.body-content {
 min-height: 100vh;
 width: 100%;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
h1 {
 padding: 0 8px 0 8px;
 text-align: center;
 color: #EFEFFE;
 font-size: 30px;
 font-weight: 800;
 margin-top: 80px;
 cursor: pointer;
}
form {
 margin: 30px 0 40px 0;
 width: 420px;
 height: -webkit-fit-content;
 height: -moz-fit-content;
 height: fit-content;
 padding:  0 40px 40px 40px;
 background-color: white;
}
fieldset {
 border: none;
 width: 100%;
}
legend {
 text-align: left;
 color: #495770;
 color: #3f557a;
 width: 100%;
 font-size: 25px;
 font-weight: 800;
 padding: 25px 0 15px 0;
}
.field {
 margin-bottom: 15px;
}
input, select {
 color: black;
 background-color: white;
 margin-top: 10px;
 font-size: 16px;
 font-weight: 600;
 padding: 10px;
 border: 0.5px solid rgb(164, 161, 167);
}
input:focus, select:active {
 outline: none;
 -webkit-transition-duration: 300ms;
      -o-transition-duration: 300ms;
         transition-duration: 300ms;
 -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.76);
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.76);
}
button {
 color: white;
 font-size: 16px;
 font-weight: 600;
 margin: 20px 0 30px 0;
 width: 100%;
 height: 45px;
 border: none;
 border-radius: 5px;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 background-color: rgb(79, 177, 190); 
}
button:hover {
 cursor: pointer;
 -webkit-box-shadow: 0 2px 10px rgb(99, 97, 97);
         box-shadow: 0 2px 10px rgb(99, 97, 97);
 cursor: pointer;
}
.links p {
 color: black;
 font-size: 16px;
 margin-bottom: 1px;
}
.links a {
 text-decoration: none;
 font-weight: 600;
 color: rgb(6, 89, 167);
}
@media only screen and (max-width: 900px) {
 body {
  background-size: 180px auto, 120px auto;
 }
}
@media only screen and (max-width: 450px){
 h1 {
  font-size: 26px;
  margin-top: 40px;
 }
 form {
  width: 90%;
  padding: 20px;
 }
 .links p {
  font-size: 15px;
 }
}