* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   }
   .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   }
   .cnt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   }
   .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
   }
   .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   }
   body {
    background-color: #283556;
    background-image: url(/assets/img/code_paper.svg), url(/assets/img/programmer.svg); 
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    min-height: 100vh; 
   }
   .body-content {
    min-height: 100vh;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }
   header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 20px 30px 0 0;
   }
   nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
   }
   #sign-in-btn {
    border: 4px solid #7195F0;
    background: none;
    height: 48px;
    width: 146px;
    border-radius: 40px;
    outline: none;
    font-weight: 600;
    outline: none;
   }
   #sign-in-btn:hover {
    cursor: pointer;
    background-color: #7195F0;
   }
   nav a { 
    text-decoration: none;
    color: #FEFEFE;
    font-size: 16px;
   }
   .stretch {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   }
   .main-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }
   .main-content h1 {
    color: #EFEFFE;
    font-size: 40px;
    margin-top: 58px;
    margin-bottom: 12px;
    font-weight: 800;
   }
   .main-content img {
    margin-bottom: 50px;
   }
   .main-content p {
    color: #DEDEF2;
    font-size: 22px;
    width: 328px;
    margin-bottom: 50px;
    line-height: 150%;
    font-weight: 400;
    text-shadow:  0 3px 5px rgba(0, 0, 0, 0);
   }
   #sign-up-btn {
    outline: none;
    height: 48px;
    width: 240px;
    border-radius: 22px;
    font-weight: 800;
    background-color: #65E4F1;
    border: none;
    -webkit-box-shadow: 2px 3px 3px black;
            box-shadow: 2px 3px 3px black;
    margin-bottom: 40px;
   }
   #sign-up-btn a {
    color: #145259;
    text-decoration: none;
    font-size: 15px;
   }
   #sign-up-btn:hover {
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
    -webkit-box-shadow: 0 4px 6px black;
            box-shadow: 0 4px 6px black;
    cursor: pointer;
   }
   footer {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }
   footer ul {
    margin: 10px 0 10px 0;
    width: 420px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   }
   footer li {
    list-style-type: none;
    color: #a5b7e9b2;
   }
   footer p, footer li {
    font-size: 16px;
    font-weight: 600; 
   }
   footer .track {
    color: #667a97;
    position: relative;
    font-weight: 800;
   }
   .copy {
    font-size: 14px;
    color: rgb(87, 152, 243);
    margin-bottom: 5px;
   }
   @media only screen and (max-width: 900px) {
   body {
    background-size: 250px auto, 180px auto;
   }
   header {
   margin: 12px 12px 0 0;;
   }
   .main-content h1 {
    font-size: 26px;
    margin-top: 30px;
   }
   .main-content img {
    margin-bottom: 50px;
   }
   .main-content p {
    font-size: 18px;
    margin-bottom: 50px;
   }
   #sign-in-btn, #sign-up-btn {
    height: 40px;
    font-size: 14px;
   }
   }
   @media only screen and (max-width: 520px) {
    body {
     background-size: 180px auto, 120px auto;
    }
    .main-content h1 {
       font-size: 23px;
    }
    .main-content img {
        margin-bottom: 35px;
    }
    .main-content {
     width: 80%;
    }
    .main-content p {
     width: 100%;
     font-size: 16px;
     margin-bottom: 40px;
    }
    footer ul.row {
     width: 100%;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
    }
    footer li, footer p {
     font-size: 15px;
    }
   }
