@media only screen and (max-width: 800px) {
  nav {
    transition-duration: 400ms;
    z-index: 3;
    height: inherit;
    position: absolute;
    transform: translateX(-100%);
   
  }
  nav.open {
    transform: translateX(0%);
  }
  #hamburger {
    transition-duration: 350ms;
    display: flex;
    box-sizing: content-box;
    position: absolute;
    right: 0;
    height: 30px;
    width: 35px;
    align-items: flex-start;
    justify-content: space-around;
    cursor: pointer;
    outline: none;
    padding: 15px;
    transform: translateX(100%);
  }
  .open #hamburger {
    transform: translateX(0);
  }
  .open #hamburger div {    
    background-color: white;
  }
  #hamburger div {
      transition-duration: 500ms;      
      transform-origin: center;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(29, 8, 122);
  }
  #hamburger div.a {
    width: 35px;
  }
  .open #hamburger div.a {
    transform: rotateZ(45deg) translateY(10px) translateX(5px) ;
}
  #hamburger div.b {
    width: 25px;
  }
  .open #hamburger div.b {
    transform: rotateZ(-45deg) translateY(2px) translateX(5px);
    border-radius:  0 4px 4px 0;
}
  #hamburger div.c {
    width: 10px;
  }
  .open #hamburger div.c {
    border-radius:  4px 0 0 4px;
    transform: rotateZ(-45deg) translateX(1px) translateY(0px);
}
form {
  margin: 40px 0;
  align-self: center;
  width: 65%;
}
}
@media only screen and (max-width: 500px) {
    header {
        padding: 0 30px;
    }
    .banner .avatar {
        margin-top: 25px;
        height: 120px;
        width: 120px;
    }
.banner .name {
    font-size: 18px;
}
.whiteBtn {
    width: 110px;
}
.scores-card {
    padding-top: 5px;
}
.scores-card .group {
    margin-bottom: 15px;
}
form {
  margin: 65px 0;
  width: 90%;
}
}