@media only screen and (max-width: 800px) {
  nav {
    -webkit-transition-duration: 400ms;
         -o-transition-duration: 400ms;
            transition-duration: 400ms;
    z-index: 3;
    height: inherit;
    position: absolute;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
   
  }
  nav.open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #hamburger {
    -webkit-transition-duration: 350ms;
         -o-transition-duration: 350ms;
            transition-duration: 350ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    position: absolute;
    right: 0;
    height: 30px;
    width: 35px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
    outline: none;
    padding: 15px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .open #hamburger {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .open #hamburger div {    
    background-color: white;
  }
  #hamburger div {
      -webkit-transition-duration: 500ms;
           -o-transition-duration: 500ms;
              transition-duration: 500ms;      
      -webkit-transform-origin: center;      
          -ms-transform-origin: center;      
              transform-origin: center;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(29, 8, 122);
  }
  #hamburger div.a {
    width: 35px;
  }
  .open #hamburger div.a {
    -webkit-transform: rotateZ(45deg) translateY(10px) translateX(5px) ;
        -ms-transform: rotate(45deg) translateY(10px) translateX(5px);
            transform: rotateZ(45deg) translateY(10px) translateX(5px) ;
}
  #hamburger div.b {
    width: 25px;
  }
  .open #hamburger div.b {
    -webkit-transform: rotateZ(-45deg) translateY(2px) translateX(5px);
        -ms-transform: rotate(-45deg) translateY(2px) translateX(5px);
            transform: rotateZ(-45deg) translateY(2px) translateX(5px);
    border-radius:  0 4px 4px 0;
}
  #hamburger div.c {
    width: 10px;
  }
  .open #hamburger div.c {
    border-radius:  4px 0 0 4px;
    -webkit-transform: rotateZ(-45deg) translateX(1px) translateY(0px);
        -ms-transform: rotate(-45deg) translateX(1px) translateY(0px);
            transform: rotateZ(-45deg) translateX(1px) translateY(0px);
}
form {
  margin: 40px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 65%;
}
}
@media only screen and (max-width: 500px) {
    header {
        padding: 0 30px;
    }
    .banner .avatar {
        margin-top: 25px;
        height: 120px;
        width: 120px;
    }
.banner .name {
    font-size: 18px;
}
.whiteBtn {
    width: 110px;
}
.scores-card {
    padding-top: 5px;
}
.scores-card .group {
    margin-bottom: 15px;
}
form {
  margin: 65px 0;
  width: 90%;
}
.unmarked-card {
  width: 90%;
}
}
@media only screen and (max-width: 450px) {
  legend a {
    float: none;
  }
  legend .generic {
    display: block;
    height: 5px;
  }
}