@import url(https://db.onlinewebfonts.com/c/4735dd9ca25670c44600021e7428b8d3?family=Segoe);
* {
  margin: 0;
  padding: 0;
  font-family: Segoe, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cnt {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.generic {
  display: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #F1F1F1;
  background-image: url(../img/programmer2.svg);
  background-position: right center;
  background-repeat: no-repeat;
}
header {
  padding: 0 60px 0 60px;
  background-color: #071733;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  display: none;
  font-size: 16px;
}
.profile {
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.profile img:hover {
  cursor: pointer;
}
.profile .options {
  visibility: hidden;
  top: 18px;
  width: 120px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  z-index: 4;
  list-style-type: none;
  color: rgb(32, 31, 31);
  background-color: white;
  border: 0.5px solid rgb(226, 223, 223);
  border-radius: 3px;
  padding: 10px 0 10px 0;
}
.profile .options a {
  text-decoration: none;
  color: black;
}
.profile:hover .options {
  visibility: visible;
}
.profile .options li {
  font-size: 16px;
  padding: 6px 10px 6px 10px;
}
.profile .options li:hover {
  cursor: pointer;
  background-color: rgb(236, 241, 245);
}
nav {
  background-color: #283556;
  -webkit-box-shadow: 3px 0px 6px #0000003D;
          box-shadow: 3px 0px 6px #0000003D;  
  min-height: 100%;
  width: 293px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
#hamburger {
  display: none;
}
nav .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
nav .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #FFFFFF24;
  -webkit-box-shadow: 0px 0px 2px #00000038;
          box-shadow: 0px 0px 2px #00000038;
  margin-bottom: 18px;

}
nav .username {
	color: rgba(255, 255, 255, 0.9);
	font-size: 14px;
	font-weight: 800;
	margin-bottom: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.linksContainer {
  list-style-type: none;
  margin-top: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.linksContainer li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  width: auto;
  cursor: pointer;
  position: relative;
}
.linksContainer li:hover {
  background-color: rgba(255, 255, 255, 0.082);
}
.linksContainer li.active {
	background-color: #FFFFFF33 !important;
  }
.linksContainer li img {
  position: absolute;
  left: 65px;
}
.linksContainer li a {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 120px;
}
.external {
  position: absolute;
  right: 10px;
}
nav .email {
	margin-top: 25px;
  color: #BDC1D2;
  font-size: 14px;
}
.mainWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pageWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
form {
  padding-bottom: 30px;
	margin: 40px 0  0 80px;
	background-color: #FFFFFF;
	width: 420px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px #00000026;
	        box-shadow: 0px 0px 3px #00000026;
  border: 0.5px solid #99999971;
}
legend {
	width: 100%;
	padding: 14px 25px;
	background-color: #E4E4E4;
	font-size: 14px;
  font-weight: 800;
  margin-bottom: 5px;
  color: rgb(36, 34, 34);
}
legend .day {
	font-weight: normal;
	float: right;
}
legend a {
  font-weight: normal;
  font-size: 12px;
  float: right;
}
 .notice {
   margin: 18px 0 15px 0;
   -ms-flex-item-align: center;
       -ms-grid-row-align: center;
       align-self: center;
   width: 90%;
   border: 0.5px solid #2680EB;
   border-radius: 6px;
   background-color: #F8F8F8;
   color: #444141;
   font-size: 15px;
   padding: 16px 15px;
 }
 .notice h1 {
  font-size: 16px;
  margin-bottom: 5px;
}
.notice h2, .notice h3 {
	font-size: 14px;
	font-weight: bold;
}
 .notice p {
   line-height: 150%;
  width: 100%;
 }
.notice a, .notice p, .notice span {
	word-wrap: break-word;
}
.notice img {
  margin-right: 6px;
}
.fields-container {
  width: 100%;
  padding: 10px 22px;
}
.field {
  margin-bottom: 14px;
}
.field label {
  color: #585353;
  font-size: 14px;
  margin-bottom: 10px;
}
.field select,
.field input,
.field textarea {
  color: #585353;
  font-size: 14px;
  border: 0.5px solid #74747494;
  border-radius: 2px;
  height: 32px;
  width: 100%;
  padding: 0 8px;
}
.field textarea {
  height: 100px;
  padding: 10px;
}
form button {
  margin-top: 12px;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 14px;
  border: none;
  background-color: #0a75e7;
  margin-bottom: 26px;
  cursor: pointer;
  position: relative;
}
form button:hover {
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: #0b4b91;
}
form a {
font-size: 14px;
color: #05298D;
text-align: left;
text-decoration: underline;
}
.prev_link {
  width: fit-content;
  border: 0.5px dashed rgb(37, 37, 37);
}
.prev_link a {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
  display: inline-block;
}
footer {
  position: relative;
  z-index: 1;
  padding: 20px 30px 20px 30px;
  background-color: rgb(250, 250, 250);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  color: #575454;
  border-top: 0.5px solid #dadada;
}
footer a {
  text-decoration: none;
  color: #4771fc;
  margin: 0 4px 0 4px;
  cursor: pointer;
}
.copyw {
  padding-bottom: 2px;
}
.alert.alert-primary {
  padding: 10px 5px 10px 10px;
  margin: 0 0 5px 0;
  width: auto;
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
}
.alert.alert-primary a {
  color: #0000ee;
}

