body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.nav {
	background-color: brown;
	padding: 10px;
	height:50px;
	color: white
}
.navbar-brand{
	color: white;
}
.nav-link{
	color: yellow
}
form {
	background-color: white;
	border: 2px solid black;
	width: 300px;
	margin: auto;
	padding: 12px;
	margin-top: 30px
}

.form-control{
	border: none;
	border-bottom: 3px solid black;
}